doctype html
head
    title SOME MARKUP TEST
    // Minified styles
    // css/min/Styles.css
    // / Minified styles
    link(rel="stylesheet" type="text/css" href="css/Styles.css")
body
    div.main-container
        div.main-container__header.header
            h1 Watsup beach
