div.g-fixed-width

    div.main-container__header.header.g-clearfix

        a.header__logo-a(href="#")
            img.header__logo-image(src="images/logo.jpg" alt="")

        ul.header-navigator
            li.header-navigator__item
                a.header-navigator__item-a.header-navigator__item-a_active(href="#") Главная
            li.header-navigator__item
                    a.header-navigator__item-a(href="#") Услуги
            li.header-navigator__item
                    a.header-navigator__item-a(href="#") О нас
            li.header-navigator__item
                    a.header-navigator__item-a(href="#") Ремонт квартир
            li.header-navigator__item
                    a.header-navigator__item-a(href="#") Контакты
            

        div.header__contacts.contacts
            span.contacts__title Тел.: 
            span.contacts__value +7-913-294-12-12
            br/
            span.contacts__title Адрес: 
            span.contacts__value г. Жопинск ул. Улетная 17
